@import '../../../theme/theme.scss';
.card{
    padding: 16px;
    border: 2px solid $tertiary-color;
    border-radius: 8px;
    background-color: $secondary-color;
    max-width: 25%;
}
@media screen and (max-width: 480px){
    .card{
        max-width: 50%;
    }
    .filter-container{

    }
}

.card__table{
    display: flex;
    flex-wrap: wrap;
}
.card__key{
    background-color: red;
    padding: 0.5em;
    border: 1px solid black;

}
.card__value{
    align-items: flex-end;
    background-color: green;
    justify-content: flex-end;
    padding: 0.5em;
    border: 1px solid black;
}
